* {
    background-color: #111 !important;
    color: white;
}

header {
    margin-bottom: 60px;
    font-size: 25px;
}

.navbar {
    padding: 0px;
    font-weight: 500;
}

.navbar-brand {
    font-size: 25px;
}

main {
    height: 80vh;
}

.fill-navbar-brand {
    margin: 0px;
}

.fill-navbar-brand a {
    margin: 0px;
    padding: 8px;
}

.fill-red a {
    background-color: #e74c3c !important;
}

.fill-blue a {
    background-color: #2980b9 !important;
}

.fill-green a {
    background-color: #16a085 !important;
}

.main-contact-heading {
    font-size:38px;
    text-align: center;
    padding-bottom: 20px;
}

.sub-contact-heading {
    font-size:24px;
    text-align: left;
    padding-bottom: 20px;
}

.contact-container-content {
    margin-bottom: 70px;
}

.contact-details {
    padding: 0px 20px;
    color: #2980b9;
}

.paint-red {
    color: #e74c3c;
}

.paint-green {
    color:#16a085;
}

.paint-blue {
    color:#2980b9;
}

.about-nav-item:hover {
    border-bottom: 4px solid #16a085;
}

.work-nav-item:hover {
    border-bottom: 4px solid #e74c3c;
}

.contact-nav-item:hover {
    border-bottom: 4px solid #2980b9;
}

.about-container, .work-container, .contact-container {
    padding-top: 100px;
}